*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);
    color: white;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-wrapper{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.menu-wrapper .game-logo .logo h1{
    font-size: 45px;
    color: white;
    text-shadow: 0 2px 5px black;
}

.menu{
    width: 500px;
    height: 400px;
}

.menu .heading-content{
    background-color: rgba(255,255,255,0.3);
    padding: 10px;
    color: black;
}

.menu .heading-content.instruction{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu .instructions-content{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 1);
}

.select-audio-content{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
}

.select-audio-content select{
    background-color: rgba(255, 255, 255, .3);
    border: 1px solid black
}

.select-audio-content .audio-list{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.input-name-content{
    width: 100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-name-content .input-name{
    flex: 5;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
}

.input-name-content .btn-play{
    flex: 1;
    padding: .4rem .7rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(250, 128, 114, .5);
    pointer-events: none;
}

.menu .instructions-content ol{
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pause-wrapper{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
}

.pause{
    width: 500px;
    height: 300px;
}

.pause-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.gameover-wrapper{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    display: none;
    position: absolute;
}

.gameover{
    width: 500px;
    height: 300px;
}

.gameover-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.game-wrapper{
    display: none;
    gap: 10px;
}

.game-wrapper .game-info{
    background-color: rgba(255,255,255,0.2);
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.game-wrapper .game-timer{
    background-color: rgba(255,255,255,0.2);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

.game-timer .timer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.game-timer .timer-wrapper .timer{
    font-size: 1.5rem;
    font-weight: bold;
}

canvas{
    /* border: 1px solid black; */
    background: linear-gradient(to bottom, rgba(65,234,246,0.6), rgba(254,74,251,0.5));
}

/* .game-wrapper{
    display: none;
} */